.page {
    width: calc(100% - 82px);
    padding: 32px 42px 24px 40px;
    background-color: rgb(243, 243, 243);
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 400px) {
    .page {
        padding-left: 20px;
    }
}